<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peludozzz</title>
    <link rel="stylesheet" href="../css/wikis.css">
    <link rel="stylesheet" href="../css/estilos1.css">
</head>

<body>

    <!--inicio navbar-->

    <div class="fondosPaginas" style="background-image: url(../assets/img/fondos\ de\ paginas/fondoterrestres.webp);">
        <nav>
            <div>
                <img src="../assets/img/Logo s(1).png" alt="logo" id="logo" />
            </div>
            <ul class="linksNabvar">
                <li><a href="index.html">Inicio</a></li>
                <li class="dropdown">
                    <a href="wikis.html">Documentacion</a>
                    <ul class="dropdown-menu">
                        <li><a href="aves.html">Aéreos</a></li>
                        <li><a href="animalesTerrestres.html">Terrestres</a></li>
                        <li><a href="animalesMarinos.html">Marinos</a></li>
                    </ul>
                </li>
                <li>
                    <a href="galeria.html">Galeria</a>
                </li>
                <li><a href="nosotros.html">Nosotros</a></li>
                <li><a href="login.html">login</a></li>
            </ul>
        </nav>

        <div class="tituloSitio">
            <h1>Animales terrestres</h1>
        </div>

        <div class="contenidoPagina">
            <h2 class="subtitulowiki">Anolis gorgonae</h2>
            <div class="contenedorwiki">
                <div class="textowiki">
                    <p>
                        El lagarto azul de Gorgona (Anolis gorgonae) (también conocido como novagecko) es una
                        especie de
                        reptil escamoso de la familia Polychrotidae.​ Es endémico de la isla Gorgona, en Colombia.
                        Como
                        su
                        nombre común indica, es de color azul agrisado; vive en el interior de la selva de Gorgona y
                        suele
                        permanecer en los troncos de los árboles
                    </p>
                    <p>
                        Debido al entorno desolado y naturaleza evasiva de A. gorgonae, ha sido difícil estimar
                        exactamente
                        su población, pero expertos aseguran que está en peligro de extinción. Su especie es
                        devorada
                        progresivamente por el introducido Basiliscus galeritus y amenazada por la deforestación.​
                        El
                        mayor
                        daño causado al hábitat de A. gorgonae ocurrió cuando se construyó la cárcel de Gorgona al
                        interior
                        de la isla en los años 50. Ha sido propuesto que algunos ejemplares sean capturados para un
                        programa
                        de reproducción en cautiverio.
                    </p>
                    <a href="https://colombia.inaturalist.org/taxa/36431-Anolis-gorgonae" target="_blank">sacado
                        de</a>
                </div>
                <div class="imagenwiki">
                    <img src="../assets/img/animales/lagartoazul.jpg" alt="">
                    <div class="parteinferior">
                        <p>mapa</p>
                    </div>
                </div>
            </div><!-- fin contenedor wiki-->

            <div class="contenidoPagina">
                <h2 class="subtitulowiki">Rana Dorada Venenosa</h2>
                <div class="contenedorwiki">
                    <div class="textowiki">
                        <p>
                            La rana dorada venenosa, rana dardo dorada o rana de dardo venenosa (Phyllobates
                            terribilis)
                            es
                            un anfibio anuro de la familia Dendrobatidae endémica de la costa pacífica colombiana.
                            Este
                            anfibio es actualmente considerado uno de los animales más tóxicos y venenosos del
                            mundo.

                            Su hábitat son las selvas húmedas de los departamentos del Chocó, Cauca y Valle del
                            Cauca en
                            la
                            costa pacífica de Colombia. El hábitat óptimo de la P. terribilis son los bosques
                            lluviosos
                            con
                            alta tasa de lluvia (5000 mm o más), altitud entre 100 y 200 metros sobre el nivel del
                            mar,
                            temperaturas de al menos 26 y entre 80 % y 90 % de humedad.
                        </p>
                        <p>
                            Normalmente diurna (activa durante el día). Es una de las especies más grandes de rana
                            dardo
                            venenosa pues puede alcanzar los 55 mm en la adultez, aunque otras como Dendrobates
                            tinctorius
                            puedan llegar a los 65 o 70 mm. P. terribilis tiene pequeños discos adhesivos en los
                            dedos
                            de
                            sus patas que le ayudan a trepar plantas.
                        </p>
                        <a href="https://colombia.inaturalist.org/taxa/21217-Phyllobates-terribilis"
                            target="_blank">sacado
                            de</a>
                    </div>
                    <div class="imagenwiki">
                        <img src="../assets/img/animales/ranadorada.jpg" alt="ranadorada">
                        <div class="parteinferior">
                            <p>mapa</p>
                        </div>
                    </div>
                </div>

                <div class="contenidoPagina">
                    <h2 class="subtitulos">Paujil Colombiano</h2>
                    <div class="imagenTexto">
                        <div class="contenedorwiki">
                            <div class="textowiki">
                                <p>
                                    El paujil colombiano (Crax alberti), también conocido como pavón piquiazul,​ pavón
                                    colombiano, hocco piguiazul, muitú de pico azul y opón, es una especie de ave
                                    galliforme
                                    de
                                    la familia Cracidae endémica del norte de Colombia, desde el piedemonte de la Sierra
                                    Nevada
                                    de Santa Marta hasta la cuenca baja y media del río Magdalena.
                                </p>
                                <p>
                                    Alcanza en promedio 91 cm de longitud. Sus plumas son negras y brillantes, excepto
                                    en la
                                    punta de la cola y el abdomen, donde son blancas. El macho presenta sobre el pico
                                    carúnculas
                                    y cera de color azul. El pico de la hembra carece de prominencias pero la base
                                    también
                                    es
                                    azul, sus partes bajas castañas, pecho y cola con línas blancas y tiene una fase de
                                    color
                                    rojizo.

                                    Vive en selvas cálidas nubladas a menos de 1.500 m s. n. m. Está amenazado por la
                                    destrucción sistemática y masiva de su hábitat. Se halla en peligro crítico de
                                    extinción.
                                </p>
                                <a href="https://colombia.inaturalist.org/taxa/2050-Crax-alberti" target="_blank">sacado
                                    de</a>
                            </div>
                            <div class="imagenwiki">
                                <img src="../assets/img/animales/pajuli.jpg" alt="pajuli">
                                <div class="parteinferior">mapa</div>

                            </div>
                        </div>
                        <br>
                    </div>
                </div>
</body>

<footer style="width: 101.2%;">
    <div>
        <p>copyright por Peludozzz 2024</p>
    </div>
</footer>

</html>