<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peludozzz</title>
    <link rel="stylesheet" href="../css/estilos1.css">
</head>

<body>
<!--inicio navbar-->
    <nav>
        <div>
            <img src="../assets/img/Logo s(1).png" alt="logo" id="logo" />
        </div>
        <ul class="linksNabvar">
            <li><a href="index.html">Inicio</a></li>
            <li class="dropdown">
                <a href="wikis.html">Documentacion</a>
                <ul class="dropdown-menu">
                    <li><a href="aves.html">Aéreos</a></li>
                    <li><a href="animalesTerrestres.html">Terrestres</a></li>
                    <li><a href="animalesMarinos.html">Marinos</a></li>
                </ul>
            </li>
            <li>
                <a href="galeria.html">Galeria</a>
            </li>
            <li><a href="nosotros.html">Nosotros</a></li>
            <li><a href="login.html">login</a></li>
        </ul>
    </nav>

    <div>
        <h1 id="tituloSitio">Peludozzz</h1>
        <h5 id="tituloSitio" style="font-size: .8rem; text-decoration: none;">Tu pagina de animales ideal</h5>
    </div>
    <!--texto de la pagina-->
    <div style="padding-left: 100px; text-align: center; text-decoration: underline;">
        <p>Una pagina donde podras encontrar informacion basica acerca de distintas especies para que puedas adentrarte
            en este nuevo e interesante mundo</p>
    </div>

    <div style="padding-left: 50px; padding-right: 220px; margin-bottom: 100px;">
        <i>
            <h2 class="subtitulos">Que somos?</h2>
        </i>
        <p>Somos Peludozzz, una pagina web sede de numerosa infomacion que crece cada dia donde podras encontrar temas
            para poder adentrarte al mundo de la naturaleza,<br> buscando el enseñar de forma simple para todo el mundo
        </p>
        <br>
        <i>
            <h2 class="subtitulos">Cual es nuestro publico?</h2>
        </i>
        <p>Nuestro publico objetivo son las personas de todas las edades que quieran conocer acerca de animales junto
            con personas que busquen informacion rapida y util sobre alguno en especifico </p>
        <br>
        <i>
            <h2 class="subtitulos">Cual es planeamos que sea nuestro alcance?</h2>
        </i>

        <p>Planeamos en un futuro estar posicionados como una pagina reconocida dentro de la comunidad hispana cuando se
            hable de informacion simplificada y util para enseñar</p>
    </div>
</body>

<footer>
    <div>
        <p>copyright por Peludozzz 2024</p>
    </div>
</footer>

</html>