<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="../css/formularios.css">
  <link rel="stylesheet" href="../css/estilos1.css" />
</head>

<body>
  <div class="fondosPaginas" style="background-image: url(../assets/img/fondos\ de\ paginas/fondologin.jpg);">
    <nav>
      <div>
        <img src="../assets/img/Logo s(1).png" alt="logo" id="logo" />
      </div>
      <ul class="linksNabvar">
        <li><a href="index.html">Inicio</a></li>
        <li class="dropdown">
          <a href="wikis.html">Documentacion</a>
          <ul class="dropdown-menu">
            <li><a href="aves.html">Aéreos</a></li>
            <li><a href="animalesTerrestres.html">Terrestres</a></li>
            <li><a href="animalesMarinos.html">Marinos</a></li>
          </ul>
        </li>
        <li>
          <a href="galeria.html">Galeria</a>
      </li>
        <li><a href="nosotros.html">Nosotros</a></li>
        <li><a href="login.html">login</a></li>
      </ul>
    </nav>

    <!--inicio formulario de registro-->
    <div class="paginaFormulario">
      <div class="formularioSesion">
        <form class="registro-form">
          <input type="text" placeholder="nombre">
          <input type="text" placeholder="correo">
          <input type="text" placeholder="contraseña">
          <button>registrarse</button>
          <p class="mensajeFormulario">¿Ya tienes una cuenta?</p>
          <a href="login.html">ingresar</a>
        </form>
      </div>
    </div>
    <footer>
      <div>
        <p>copyright por Peludozzz 2024</p>
      </div>
    </footer>
  </div>
</body>


</html>