<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../css/estilos1.css">
<link rel="stylesheet" href="../css/tarjetas.css">
</head>

<body>

  <div class="fondosPaginas" style="background-image: url(../assets/img/fondos\ de\ paginas/fondotitulo1.jpg);"> 
    <!--inicio nav-->
    <nav>
      <div>
        <img src="../assets/img/Logo s(1).png" alt="logo" id="logo" />
      </div>
      <ul class="linksNabvar">
        <li><a href="index.html">Inicio</a></li>
        <li class="dropdown">
          <a href="wikis.html">Documentacion</a>
          <ul class="dropdown-menu">
            <li><a href="aves.html">Aéreos</a></li>
            <li><a href="animalesTerrestres.html">Terrestres</a></li>
            <li><a href="animalesMarinos.html">Marinos</a></li>
          </ul>
        </li>
        <li>
          <a href="galeria.html">Galeria</a>
      </li>
        <li><a href="nosotros.html">Nosotros</a></li>
        <li><a href="login.html">login</a></li>
      </ul>
    </nav>

<!--inicio contenido (tarjetas)-->
<div class="tituloSitio">
    <h1>Tipos de animales</h1>
  </div>
  <div class="subtitulos">
    <i>
      <h2>Secciones</h2>
    </i>
  </div>

  <!---cartas inicio-->
  <div class="organizadorHorizontal">
    <div class="tarjetas">
      <div class="imagenTarjeta">
        <img src="../assets/img/animales/tucan.jpg" height="267px" width="225px" alt="ave" />
        <hr />
      </div>
      <div class="contenidoTarjeta">
        <h2>Aves</h2>
        <a href="aves.html">ir</a>
      </div>
    </div>
    <br />
    <div class="tarjetas">
      <div class="imagenTarjeta">
        <img src="../assets/img/animales/gato1.jpg" alt="animal terrestre" />
        <hr />
      </div>
      <div class="contenidoTarjeta">
        <h2>Animales Terrestres</h2>
        <a href="animalesTerrestres.html">ir</a>
      </div>
    </div>
    <br />
    <div class="tarjetas">
      <div class="imagenTarjeta">
        <img src="../assets/img/animales/tiburon1.jpg" alt="animal marino" />
        <hr />
      </div>
      <div class="contenidoTarjeta">
        <h2>Animales marinos</h2>
        <a href="animalesMarinos.html">ir</a>
      </div>
    </div>
    <br />
    <!---final cartas-->
  </div>
  <br />

  </div>


  

  <footer>
    <div>
      <p>copyright por Peludozzz 2024</p>
    </div>
  </footer>
</body>

</html>